@use "../abstracts/variables" as *;

* {
	font-family: "Almarai", sans-serif;
}

h1 {
	font-size: 4vw;
	font-weight: 700;
}

h2 {
	font-size: 2.5vw;
}

h3 {
	font-size: 1.5vw;
}

p,
a {
	font-size: 1vw;
}

h1,
h2,
h3,
h4 {
	font-family: "Poppins", sans-serif;
}

p,
a {
	font-family: "Almarai", sans-serif;
}

p,
a,
button {
	font-size: 1.5vw;
}
