@use "../abstracts/variables" as *;

* {
	font-family: "Almarai", sans-serif;
}

h1 {
	font-size: 3vw;
	font-weight: 700;
}

h1,
h2,
h3,
h4 {
	font-family: "Poppins", sans-serif;
}

p,
a {
	font-family: "Almarai", sans-serif;
}

p,
a,
button {
	font-size: 1.5vw;
}

.fuchsia-gradient-text {
	background: linear-gradient(180deg, #ff0f7b 50.52%, #faa143 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
