@use "../abstracts/variables" as *;

/* * {
	font-family: "Poppins";
}*/

h1 {
	font-size: 3vw;
	font-weight: 700;
}

h1,
h2,
h3,
h4 {
	font-family: "Poppins", sans-serif;
}

p,
a {
	font-family: "Almarai", sans-serif;
}

p,
a,
button {
	font-size: 1.5vw;
}
